<ion-menu side="start" menuId="main-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/inicio-administrador">Início</ion-item>
      <ion-item routerLink="/minhas-tarefas">Minhas Tarefas</ion-item>
      <ion-item routerLink="/cadastro-funcionario">Cadastro Funcionário</ion-item>
      <ion-item routerLink="/cadastro-administrador">Cadastro Administrador</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="title-search-row">
        <span class="logo-title">VerTask</span>
        <ion-searchbar placeholder="Buscar tarefas" class="searchbar"></ion-searchbar>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
      <span class="profile-name">bbb</span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="inicio-admin-content" id="main-content">
  <div class="inicio-admin-grid">
    <div class="inicio-admin-col-esquerda">
      <h2 class="section-title">Prioridades</h2>
      <ion-card class="prioridades-card">
        <ion-card-content class="card-content">Não há tarefas pendentes</ion-card-content>
      </ion-card>
    </div>
    <div class="inicio-admin-col-direita">

      <h2 class="section-title">Calendário de Tarefas</h2>
      <div class="calendario-row">
        <div class="calendario-content calendario-metade-esquerda">
          <ion-datetime presentation="date" [value]="selectedDate" (ionChange)="onDateChange($event)"
            class="calendario-datetime"></ion-datetime>
        </div>
      </div>
    </div>
  </div>
</ion-content>