<ion-menu side="start" menuId="main-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/inicio-administrador">Início</ion-item>
      <ion-item routerLink="/minhas-tarefas">Todas Tarefas</ion-item>
      <ion-item routerLink="/minhas-tarefas">Minhas Tarefas</ion-item>
      <ion-item routerLink="/cadastro-funcionario">Funcionários</ion-item>
      <ion-item routerLink="/setores">Setores</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="title-search-row">
        <span class="logo-title">VerTask</span>
        <!-- <ion-searchbar placeholder="Buscar tarefas" class="searchbar"></ion-searchbar> -->
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirPerfil($event)">
        <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
        <!-- <span class="profile-name">{{administrador.nome}}</span> -->
        <span class="profile-name">bbb</span>
      </ion-button>
    </ion-buttons>

    <ion-popover [isOpen]="popoverAberto" [event]="popoverEvento" (didDismiss)="popoverAberto = false">
      <ng-template>
        <ion-list>
          <ion-item button (click)="editarPerfil()">Editar Perfil
            <ion-icon slot="start" name="person-outline"></ion-icon>
          </ion-item>
          <ion-item button (click)="sair()">
            Sair
            <ion-icon slot="start" name="exit-outline"></ion-icon>
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="ion-padding" id="main-content">
  <h2 class="section-title">Setor</h2>
  <form [formGroup]="formGroup" (ngSubmit)="salvar()">
    <ion-item>
      <ion-label position="stacked">Nome do Setor</ion-label>
      <ion-input type="text" formControlName="nomeSetor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descrição do Setor</ion-label>
      <ion-textarea type="text" formControlName="descricaoSetor"></ion-textarea>
    </ion-item>


    <ion-button type="submit" expand="block" color="primary" [disabled]="!formGroup.valid">Salvar</ion-button>
  </form>
</ion-content>