<!-- <ion-menu side="start" menuId="main-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/inicio-administrador">Início</ion-item>
      <ion-item routerLink="/minhas-tarefas">Todas Tarefas</ion-item>
      <ion-item routerLink="/minhas-tarefas">Minhas Tarefas</ion-item>
      <ion-item routerLink="/cadastro-funcionario">Funcionários</ion-item>
      <ion-item routerLink="/setores">Setores</ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->
<ion-header [translucent]="true">
  <ion-toolbar class="app-toolbar">
    <!-- <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons> -->
    <div class="title-search-row">
      <ion-router-link routerLink="/inicio-administrador" class="logo-title">
        VerTask
      </ion-router-link>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="abrirPerfil($event)">
        <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
        <!-- <span class="profile-name">{{administrador.nome}}</span> -->
        <span class="profile-name">bbb</span>
      </ion-button>
    </ion-buttons>

    <ion-popover [isOpen]="popoverAberto" [event]="popoverEvento" (didDismiss)="popoverAberto = false">
      <ng-template>
        <ion-list>
          <ion-item button (click)="editarPerfil()">Editar Perfil
            <ion-icon slot="start" name="person-outline"></ion-icon>
          </ion-item>
          <ion-item button (click)="sair()">
            Sair
            <ion-icon slot="start" name="exit-outline"></ion-icon>
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding" id="main-content">
  <h2 class="section-title">Setores</h2>
  <ion-list>
    <ion-item-sliding *ngFor="let setor of setores">
      <ion-item [routerLink]="['/setor/', setor.idSetor]" detail>
        <ion-label>
          <h2>{{setor.nome}}</h2>
          <p>{{setor.descricao}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="excluir(setor)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/setor" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>