<ion-content [fullscreen]="true" class="login-bg">
  <div class="login-container">
    <div class="login-card">
      <h1 class="login-title">VerTask</h1>
      <p class="login-subtitle">Sistema Gerenciador de Tarefas</p>
      <form [formGroup]="formGroup" (ngSubmit)="autenticar()">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="text" formControlName="login"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Senha</ion-label>
          <ion-input type="password" formControlName="senha"></ion-input>
        </ion-item>
        <ion-button type="submit" expand="block" color="primary" [disabled]="!formGroup.valid">Entrar</ion-button>
      </form>
      <div class="login-links">
        <p>Não tem uma conta?</p>
        <a routerLink="/cadastro-funcionario">Criar conta de Funcionário</a><br>
        <a routerLink="/cadastro-administrador">Criar conta de Administrador</a>
      </div>
    </div>
  </div>
</ion-content>