<ion-content [fullscreen]="true" class="cadFuncionario-bg">
  <div class="cadFuncionario-container">
    <div class="cadFuncionario-card">
      <h1 class="cadFuncionario-title">Cadastro Funcionário</h1>
      <form [formGroup]="formGroup" (ngSubmit)="logar()">

        <ion-item>
          <ion-label position="stacked">Nome</ion-label>
          <ion-input type="text" formControlName="nome"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Senha</ion-label>
          <ion-input type="password" formControlName="senha"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Setor</ion-label>
          <ion-select okText="Confirmar" cancelText="Cancelar" placeholder="Selecione um setor" formControlName="setor">
            <ion-select-option *ngFor="let setor of setores" [value]="setor">{{setor.nome}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button type="submit" expand="block" color="primary" [disabled]="!formGroup.valid">Criar Conta</ion-button>
      </form>
    </div>
  </div>
</ion-content>